<form class="dialog" [formGroup]="formGroup">
  Для смены Вашего текущего пароля необходимо заполнить следующие поля:
  <br><br>
  <mat-form-field class="dialog__input">
    <input type="password" matInput placeholder="Текущий пароль" formControlName="currentPassword" maxLength="20" required>
    <mat-error>{{getCurrentPasswordErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field class="dialog__input">
    <input type="password" matInput placeholder="Новый пароль" formControlName="newPassword" maxLength="20" minlength="6" required>
    <mat-error>{{getNewPasswordErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field class="dialog__input">
    <input type="password" matInput placeholder="Повторите новый пароль" formControlName="repeatPassword" maxLength="20" required>
    <mat-error>{{getRepeatPasswordErrorMessage()}}</mat-error>
  </mat-form-field>

  <div class="dialog__submit">
    <button mat-raised-button (click)="submit()">Сменить пароль</button>
  </div>

</form>
