<mat-tab-group (selectedTabChange)="switchTabEvent($event)">

  <mat-tab class="mat-tab" label="Режим 'Без стенок'">

    <table mat-table class="mat-tab__table" [dataSource]="tableData">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> Топ</th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <ng-container matColumnDef="login">
        <th mat-header-cell *matHeaderCellDef> Имя пользователя</th>
        <td mat-cell *matCellDef="let element"> {{element.login}} </td>
      </ng-container>

      <ng-container matColumnDef="score">
        <th mat-header-cell *matHeaderCellDef> Набрано очков</th>
        <td mat-cell *matCellDef="let element"> {{element.score}} </td>
      </ng-container>

      <ng-container matColumnDef="games">
        <th mat-header-cell *matHeaderCellDef> Количество игр</th>
        <td mat-cell *matCellDef="let element"> {{element.games}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </mat-tab>

  <mat-tab class="mat-tab" label="Режим 'Со стенками'">

    <table mat-table class="mat-tab__table" [dataSource]="tableData">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> Топ</th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <ng-container matColumnDef="login">
        <th mat-header-cell *matHeaderCellDef> Имя пользователя</th>
        <td mat-cell *matCellDef="let element"> {{element.login}} </td>
      </ng-container>

      <ng-container matColumnDef="score">
        <th mat-header-cell *matHeaderCellDef> Набрано очков</th>
        <td mat-cell *matCellDef="let element"> {{element.score}} </td>
      </ng-container>

      <ng-container matColumnDef="games">
        <th mat-header-cell *matHeaderCellDef> Количество игр</th>
        <td mat-cell *matCellDef="let element"> {{element.games}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </mat-tab>

</mat-tab-group>

