.matCard {
  margin: 10px auto;
  min-width: 300px;
  max-width: 420px;
  width: 100%;

  &__header {
    text-align: center;
    color: midnightblue;
    font-weight: normal;
  }

  &__game {
    text-align: center;

    &__row {
      height: 26px;
    }

    &__column {
      border: 1px solid rgba(178, 241, 248, 0.1);
      width: 24px;
      height: 24px;
      display: inline-block;
    }

  }

  &__start-btn {
    text-align: center;
  }

  &__mode-list {
    text-align: center;

  }

}
