<mat-card class="matCard">

  <div class="matCard__header">

    <div *ngIf="chosenMode">Съедено фруктов: {{eatenFruitNumber}}</div>

    <div *ngIf="chosenMode === 'No Walls'">
      <div *ngIf="userService.isSignedIn()">
        <br> Ваш результат: {{userService.globalScoreNoWalls}}
      </div>
      <br> Режим игры: без стенок
    </div>

    <div *ngIf="chosenMode === 'With Walls'">
      <div *ngIf="userService.isSignedIn()">
        <br> Ваш результат: {{userService.globalScoreWithWalls}}
      </div>
      <br> Режим игры: со стенками
    </div>

  </div>

  <div class="matCard__game">
    <br>
    <div class="matCard__game__row"
         *ngFor="let row of board; let i = index;">
      <div class="matCard__game__column" [ngStyle]="{'background-color': setCellColor(i, j)}"
           *ngFor="let column of row; let j = index">
      </div>
    </div>
  </div>

  <br>
  <div class="matCard__start-btn" *ngIf="!isStartClicked">
    <button mat-raised-button [disabled]="isStartClicked" (click)="startButton()">Начать игру</button>
    <button mat-raised-button *ngIf="this.userService.doIhaveSavedGame" [disabled]="isStartClicked"
            (click)="continueButton()">Продолжить игру
    </button>
  </div>

  <div class="matCard__mode-list" *ngIf="showGameModes">
    <span>Выберите режим игры:</span> <br><br>

    <button mat-raised-button [disabled]="isModeChosen" (click)="setGameMode('No Walls')">Без стенок</button>
    <button mat-raised-button [disabled]="isModeChosen" (click)="setGameMode('With Walls')">Со стенками</button>
  </div>


</mat-card>
