.profile-form {
  margin: 10px auto;
  min-width: 300px;
  max-width: 600px;
  width: 100%;

  &__header {
    text-align: center;
  }

  &__value {
    margin-left: auto;
  }

  &__buttons {
    text-align: center;
  }

}
