<mat-card class="profile-form">

  <p class="profile-form__header">Личный кабинет</p>

  <mat-list>
    <mat-list-item>
      Имя пользователя:
      <div class="profile-form__value">
        {{this.userService.getLogin()}}
      </div>
    </mat-list-item>

    <mat-divider></mat-divider>
    <br>Режим игры "Без стенок":<br>
    <mat-list-item>
      Набрано очков:
      <div class="profile-form__value">
        {{globalScoreNoWalls}}
      </div>
    </mat-list-item>

    <mat-list-item>
      Количество сыгранных партий:
      <div class="profile-form__value">
        {{gamesNoWalls}}
      </div>
    </mat-list-item>

    <mat-divider></mat-divider>
    <br>Режим игры "Со стенками":<br>
    <mat-list-item>
      Набрано очков:
      <div class="profile-form__value">
        {{globalScoreWithWalls}}
      </div>
    </mat-list-item>

    <mat-list-item>
      Количество сыгранных партий:
      <div class="profile-form__value">
        {{gamesWithWalls}}
      </div>
    </mat-list-item>

    <mat-divider></mat-divider>
    <br>Доступные действия с аккаунтом:<br><br>
    <div class="profile-form__buttons">
      <button type="text" mat-raised-button (click)="openChangePassDialog()">Сменить пароль</button>
      <button type="text" mat-raised-button (click)="openDeleteAccDialog()">Удалить аккаунт</button>
    </div>

  </mat-list>

</mat-card>
