<form class="dialog" [formGroup]="formGroup">
  Для продолжения введите Ваш текущий пароль
  <br><br>
  <mat-form-field class="dialog__input">
    <input type="password" matInput placeholder="Текущий пароль" formControlName="currentPassword" maxLength="20" required>
    <mat-error>{{getPasswordErrorMessage()}}</mat-error>
  </mat-form-field>

  <div class="dialog__submit">
    <button mat-raised-button (click)="submit()">Удалить аккаунт</button>
  </div>

</form>
