<mat-card class="sign-up-form">

  <form [formGroup]="formGroup">

    <p class="sign-up-form__text-header">Создание нового аккаунта</p>

    <mat-form-field class="sign-up-form__input">
      <input (keydown.space)="$event.preventDefault();" type="text" matInput placeholder="Имя пользователя" formControlName="loginF" maxLength="20" required>
      <mat-error>{{getLoginErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field class="sign-up-form__input">
      <input (keydown.space)="$event.preventDefault();" type="password" matInput placeholder="Пароль" formControlName="passwordF" minlength="6" maxLength="20" required>
      <mat-error>Пароль должен содержать не менее 6-ти знаков</mat-error>
    </mat-form-field>

    <mat-form-field class="sign-up-form__input">
      <input type="password" matInput placeholder="Повторите пароль" formControlName="repeatPasswordF" maxLength="20" required>
      <mat-error>Пароли не совпадают</mat-error>
    </mat-form-field>

    <div class="sign-up-form__submit">
      <button type="submit" mat-raised-button [disabled]="isClicked" (click)="submit()">Создать аккаунт</button>
    </div>

  </form>

</mat-card>
