<div class="header">

  <button mat-button class="header__title" routerLink="/">ЗМЕЙКА</button>

  <div class="header__menu">

    <div class="header__menu__option">
      <button mat-button (click)="goTo('top')">Список лидеров</button>
    </div>

    <div class="header__menu__option" *ngIf="!userService.isSignedIn()">
      <button mat-button (click)="goTo('signIn')">Войти в систему</button>
    </div>

    <div class="header__menu__option" *ngIf="userService.isSignedIn()">

      <button mat-button [matMenuTriggerFor]="menu">{{getName()}}</button>
      <mat-menu #menu="matMenu" >
        <button mat-button (click)="goTo('profile')">Личный кабинет</button> <br>
        <button mat-button (click)="goTo('signOut')">Выйти</button>
      </mat-menu>

    </div>

  </div>

</div>
