.header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
  background-color: #c8ffc6;

  &__title {
    font-size: 30px;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    color: midnightblue;
  }

  &__menu {
    display: flex;
    margin-top: 0;
    margin-bottom: -5px;
    color: #000324;

    &__option {
      color: #000324;
    }

  }
}
