.sign-in-form {
  margin: 10px auto;
  min-width: 300px;
  max-width: 500px;
  width: 100%;

  &__text-header {
    text-align: center;
  }

  &__input {
    margin: 0 auto;
    display: block;
    width: 60%;
  }

  &__submit {
    text-align: center;
  }

  &__noAccount {
    display: flex;
    justify-content: center;
    font-size: small;
  }
}
