<mat-card class="sign-in-form">

  <form [formGroup]="formGroup">

    <p class="sign-in-form__text-header">Вход в систему</p>

    <mat-form-field class="sign-in-form__input">
      <input type="text" matInput placeholder="Имя пользователя" formControlName="loginF" maxLength="20">
      <mat-error>{{getLoginErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field class="sign-in-form__input">
      <input type="password" matInput placeholder="Пароль" formControlName="passwordF" maxLength="20">
      <mat-error>{{getPasswordErrorMessage()}}</mat-error>
    </mat-form-field>

    <div class="sign-in-form__submit">
      <button type="submit" mat-raised-button [disabled]="isClicked" (click)="submit()">Войти</button>
    </div>

    <br>
    <a class="sign-in-form__noAccount" routerLink="/sign-up">У меня нет аккаунта</a>

  </form>

</mat-card>
